<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <style>
    body{
    background-color:#C4DFE6;
    }
    .nav > li > a:focus, .nav > li > a:hover {
    background-color:white;
    }
    a{color:black;
    font-size:20px;
    font-family:timesnewroman;}
        .well{
        font-family:Verdana;
        font-size:30px;}
        .header{
        border-bottom:0px;}
        .footer{
        border-top:0px;
        }
        .jumbotron h1 {
    color: green;
    font-family:palatino;
    font-size:20px;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <div class="well"><center>Sign In! Add and manage tasks!</center></div>
            <nav>
                <ul class="nav navbar-nav">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
            <h1>Welcome on home page!</h1>
        </div>

    </div>
</body>

</html>